.env
**/*client_secrets.json
**/*token.pickle
.venv/
__pycache__/
uploaded_videos/
uploaded_videos_tiktok/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.mp4
*.avi
*.mkv
*.mov
*.flv
cookies.txt